body{
/*	margin:0 auto;*/
	border:1px solid red;
	width:300px;
	height:300px;
}

.div1{
/*	width:253px;
	height:232px;*/
	width:259px;	
	height:238px; 
	background-color: gray;
	border:1px solid blue;
	margin:5px 0px 0px 15px;
}
.div1 img{
	margin:3px;
}
.div1 a{
	margin:auto;
}
